html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.container {
  width: 800px;
  margin: 0 auto;
}

.snake-board {
  border: 1px solid black;
  background-color: gray;
  margin: 0 auto;
}

.game-over, .restart {
  text-align: center;
  display: block;
}

.game-play {
  display: block;
  text-align: center;
}

.game-play label{
  display: block;
  margin: 15px 0;
}

.submit {
  margin: 0 auto;
}

.cell {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  position: relative;
}

.row {
  display: block;
}

.snake {
  background-color: yellow;
  border: 1px solid black;
}

.apple {
  background-image: url('../img/scroll.png');
  background-size: contain;
}

img.cage-face {
  max-width: 200%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.N {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.S {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

.E {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
